h1 {
  font-family: 'Alice', serif;
  font-size: 38px;
  line-height: 1.37;
  letter-spacing: -1.33px;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  line-height: 1.76;
  letter-spacing: -0.6px;
}

a {
  font-family: 'Alice', serif;
  font-size: 21px;
  line-height: 0.2;
  letter-spacing: -0.42px;
  text-decoration: none;
}